* {
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}

html, body{
    width:100%;
    height:100%;
    font-size:16pt;
}

#mapContainer{
    width:100%;
    height:100%;
}





/* body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}


#mapContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

#controls {
    position: absolute;
    z-index: 100;
    width: 360px;
    top:0px;
    right:0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    margin: 0;
}

#controls #legend{
    width:100%;
    height: 30px;   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:white;
    border:2px solid black;
    margin-bottom:2px;
    overflow: auto;
}

.legendItem{
    flex-basis:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size:8px;
    text-align: center;
    color:white;
    padding: 0px 4px 0px 4px;
}

#projectDescription{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2px;
    background-color:white;
    border:2px solid black;
}
#projectDescription p{
    padding:4px;
    text-align: left;
    font-size: 10px;
}

#campaignSelector, 
#variableSelector{
    width: 100%;
}
#variableSelector #variables{
    width: 100%;
    margin-bottom:2px;
    padding:0;
    min-width: 364px;
    border-radius: 0px;
    border:2px solid black;
    padding:2px;
}
#variableSelector #variables option{
    width: 100%;
    margin:0;
}

#campaignSelector #campaign{
    width: 100%;
    margin-bottom:2px;
    padding:0;
    min-width: 364px;
    border-radius: 0px;
    border:2px solid black;
    padding:2px;
}
#campaignSelector #campaign option{
    width: 100%;
    margin:0;
}


#controls .playback{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
}
#controls .session{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:270px;
}
#controls #sliderbar #slider{
    width: 100%;
    padding: 4px;
    background: white;
    border: 2px solid black;
    flex-grow:1;
    height:37px;
    margin-left:0px;
}

#active-time{
    padding:4px;
    margin-top:2px;
    background: white;
    border: 2px solid white;
    font-size: 11px;
    min-width:260px;
    width:270px;
    display: inline-block;
    text-align: center;
}

.btn{
    padding:6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:24px;
    height: 33px;
    background-color:white;
    border: 2px solid black;
    margin-right: 1px;
}
#stop{
    font-size: 11px;
}

p{
    margin:0;
}
input{
    margin:0;
}



small{
    font-size: 8px;
} */